*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    background: blue;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    
    background-size: cover;


}

.gameboard{
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px);
    color: black;
    grid-gap: 7px;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
}
.case{
    border: solid 1px;
    border-radius: 15px;
}


